/* Left to do: finish logo; insert logo; sign up for adobe; decide on colors and fonts; add and build images/graphics; fix click box; add effects; minify; alt colors: 788aa9 for header */
/* add reds and greens as accent colors to logo */
html { 
}
body {
    width:auto;
    border:none;
    padding:0px;
    margin:0px;
    /*background-color:#f3fafa;*/
    font-family:sans-serif;
    color: #58595b;
}
.navbar {
    width:100%;
    height:50%;
    max-height:100px;
    background-color: #3f61ad;
    color:#ffffff;
    font-family:sans-serif;
    font-size:1.1em;
}
.logo_container {
    width:30%;
    height:100%;
    max-height:1000px;
    display:flex;
    float:left;
    justify-content: center;
    align-items: center;
}
.logo {
    max-height: auto;
    max-width:145px;
}
.nav_container {
    width: 70%;
    height: 100%;
    max-height:1000px;
    float: right;
    display: flex;
    justify-content:flex-end;
    align-items:center;
}
.nav {
    width:80%; 
    height: auto;
    float:right;
    display:inline;  
}
.menu {
    list-style: none;
    width: auto;
}
.menu_item {
    display: inline-block;
    font: sans-serif;
    flex-grow: 1;
    margin-right: 5%; 
}
.sub_container {
    width: 100%;
    height:30%;
    margin:0;
    color: #58595b;
}
#call_to_action {
    background-image: url(start%20up%202.png);
    height:auto;
    width: 100%;
    color: #fff;
}
#call_to_action_image {
    max-width: 1800px
}
#call {
    display:inline-block;
    justify-content: center;
    align-items: center;
    margin-top:8%;
    color:#fff;
}
.call {
    font-family:sans-serif;
    font-size: 2.0em;
    text-align: center;
    padding: 0 20% 0 20%;
    line-height: 1.9em;
}
#action {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:20%;
}
.action {
    font-family:sans-serif;
    font-size: 1.2em;
    text-align: center;
    border: 3px solid #fff;
    width: auto;
    padding: 1% 1%; 
    color:#fff;
    border-radius: 6px;
}
.action a {
    text-decoration: none;
    color: inherit;
}
.action:hover {
    background:#fff;
    color:#58595b;
    border:none;
}
#left {
    display:flex;
    flex-direction: column;
    height:auto;
    justify-content: center;
    align-items: flex-start;
    height:40%;
    background:#fff;
}
.one_third_header_left {
    font-size: 1.7em;
    max-width:20%;
    margin-left:3%;
}
.one_third_left {
    font-size: 1.2em;
    max-width: 30%;
    margin-left:4%;
    margin-top: 2%;
}
#center {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height:40%;
    Color: #ffffff;
    background:rgba(30, 48, 95, 1);
}
.one_third_header_center {
    text-align: center;
    font-size: 1.7em;
}
.one_third_center {
    text-align: center;
    font-size: 1.2em;
    max-width: 30%;
    margin-top: 2%
}
#right {
    display:flex;
    justify-content: flex-end;
    flex-direction:column-reverse;
    background:#fff;
    height:inherit
}
.one_third_header_right {
    font-size: 1.7em;
    max-width: 20%;
    width:20%;
    height:auto;   
}
.one_third_right {
    max-width 30%;
    width:30%;
    font-size: 1.2em;
}
#footer {
    background-color: #3e79c4;
    height:20%;
    display: inline-block;
    color: #ffffff;
    
}
.contact {
    width: auto;
    height: auto;
    color:inherit; 
    font-family: inherit;
    float:left;
    padding-left:3%;
    margin-top:2%;
    line-height:1.5;
    text-align: center;
}
.social_and_email {
    float:right;
    margin-top:2%;
    padding-right:3%;
    text-align: center;
    width:auto;
    height:auto;
    line-height:1.5em;
}